<?xml version="1.0"?>





<launch>

    

    <node name="find_object_2d" pkg="find_object_2d" type="find_object_2d" output="screen">
    <remap from="image" to="/camera/rgb/image_color"/>
    </node>
    <node name="mapping_marker" pkg="marker_map" type="marker_map.py" output="screen"></node>
    <node name="rviz" pkg="rviz" type="rviz" output="screen"></node>
    <!--
    <node pkg="tf" type="static_transform_publisher" name="tf_test" args="0 0 0 0 0 0 map odom 100">      
    <arg name="map_file" value="/home/tim/catkin_ws/src/marker_map/map_rviz/final_mapv2.yaml"></arg>
    
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"></node>
    
    
        rosrun tf view_frames
        should have map->odom on the frame graph
        this node is modifying the order of the elements of this graph
        args: x y z raz pitch yaw parents child rate
    -->
    


</launch>

